* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.animate-shake {
    animation: shake 0.5s ease-in-out;
}

.active {
    color: white;

}

@media (min-width: 992px) {
    .active {
        background-color: #8B5CF6;
        color: white;
        padding: 15px 0;
        border-radius: 100px;
    }

    .active:hover {
        color: white;
    }



}

@media (prefers-color-scheme: dark) {
    /* body {
        background-color: #0d0d0d;
      } */
      

    /* Small screens */
    @media (max-width: 767px) {
        .active {
            color: #8B5CF6;
        }
    }

    /* Large screens */
    @media (min-width: 768px) {
        .active {
            color: #8B5CF6  ;
            /* Additional styles for large screens */
        }
    }
}

.active {
    color: #9F7AEA;
}

@media (min-width: 768px) {
    .active {
        background-color: #9F7AEA;
        color: white;
        padding: 15px 0;
        border-radius: 100px;
    }
}

